<form action="/landmarks/<%=@landmark.id%>" method="POST">
    <label>Edit Landmark Name:</label><br>
    <input type="text" name="landmark[name]" value="<%=@landmark.name%>" id="name"><br>
    <label>Edit Landmark Year Completed:</label><br>
    <input type="text" name="landmark[year_completed]" value="<%=@landmark.year_completed%>" id="year_completed"><br>
    <input type="submit" id="Edit Landmark">
</form> 

