<h1>Edit a Person</h1>

<form action="/figures/:id/edit" method="POST">
    <input type="hidden" value="hidden" name="_method" id="PATCH">
    <% Figure.all.each do |figure|
    
    <input type="checkboxes" name="figure[name]" value="<%= figure.id %>"><%= figure.name %></input>
</form> 