
<h2>Edit Record for:</h2><br>
<h1><%= @figure.name %></h1><br>

<form action="/figures/:id" method="POST">
    <h4>Edit Person Name:<h4><br>
    <input type="text" name="figure[name]" id="figure_name">

    <h4>Edit titles:<h4><br>
    <% @figure.titles.each do |title| %>
    <input type="checkboxes" name="title[name]" value="<%= title.id %>"><%= title.name %></input>
    <% end %>
    <%# # ??? What is value here?     %>
</form> 

    <%# <input type="hidden" value="hidden" name="_method" id="PATCH"> %>  
