<p>Create a Figure</p>

<form>
    <input action='figures/new' method='POST'>
    <input type='text' value="figure[name]" id='figure_name'>Name of Figure</input>
    <input type='text' value="landmark[name]" id='landmark_name'>Name of Landmark</input>
    <input type='submit' id='Create New Figure'>
</form>