<h1><%= @figure.name %></h1><br>
<br>
<h4>Titles:</h4><br>
<% @figure.titles.each do |title| %>
    <%= title.name %>    
<% end %>
<br>
<h4>Landmarks:</h4><br>
<% @figure.landmarks.each do |landmark| %>
    <%= landmark.name %>
    <%= landmark.year_completed %>
<% end %>